body {
  background-color: var(--cream-bg);
  font-family: var(--bs-font-family-header);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

body h2 {
  font-family: var(--bs-font-family-header);
}

main {
  font-family: var(--bs-font-family-header);
  font-size: 1em;
  color: var(--text-color);
}



.pokemon-carousel {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 90%;
  flex-wrap: wrap;
}

.pokemon-slot {
  width: 150px;
  height: 150px;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}



